*,*::after,*::before{
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*colors*/
    --salmaBlue:rgb(65, 157, 243);
    --nasa:#0b3d91;
    --black:rgb(34, 34, 34);
    /*colors*/
    font-family: 'Cairo', sans-serif;
}
@font-face{
    font-family: Nasa;
    src: url('media/nasalization-rg.otf')
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--black);
    border:none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--salmaBlue);
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(97, 171, 255);
  }
body {
    width:100%;
    background-color: red;
    position: relative;
    font-size: 16px;
    height:100%;
    margin: 0;
    padding: 0;
}
#modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.904) 0%, rgba(20, 55, 92, 0.897) 100%);

}
.modal-content {
    margin: auto;
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.9);
    width: 80%;
    max-width: 700px;
  }
.close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
section{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--black);
    z-index: 0;
}
#bg{
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 1;
    object-fit:cover;
    filter:saturate(230%);
}
#logo{
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: 0.7rem;
    filter: hue-rotate(330deg);
}

.hero{
    position: relative;
    height: 100vh;
    width: 100%;
}
.herotxt{
    animation-duration: 4s;
    animation-name: fadein;
    animation-delay:0;
    animation-timing-function:smooth;
    animation-iteration-count: 1;
    animation-direction:normal;
    letter-spacing: 1rem;
    line-height: 4rem;
    text-align: center;
    color: var(--salmaBlue);
    display: inline-block;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
}
.herotxt h2 ,.hero h1{
    font-family: serif;
    animation-name: glow;
    animation-delay:3.4s;
    animation-duration:3s;
    animation-timing-function: smooth;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
@keyframes fadein {
    0%{
        opacity: 0;
        filter:blur(50px);
    }
    100%{
        opacity: 1;
        filter:none;
    }
}
@keyframes glow {
        0%{
            text-shadow: none;
        }
        100%{
            text-shadow: 0px 0px 40px rgba(180, 222, 255, 0.58);
        }
}
.herotxt h1{
    font-family: Nasa;
    letter-spacing: normal;
    color: #fff;
    font-size: 80px;
}
.hero::before{
    content: "";
    position: absolute;
    height:100%;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(63, 63, 63, 0.514) 0%, rgba(9, 28, 48, 0.842) 100%);
    opacity: 0.8;
    z-index: 2;
}
nav{
    font-size:20px;
    display: flex;
    position:absolute;
    width: 100%;
    height:5rem;
    top:0;
    z-index: 5;
    justify-content: space-between;
}
nav ul{
    overflow-x: hidden;
    display: inline-block;
    margin-right: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    margin:0 2.5rem;
    position: relative;
}
nav ul li a{
    font-family: Nasa;
    color:white;
    text-decoration: none;
    transition: all 0.1s ease;
}
nav ul li a:hover{
    color:var(--salmaBlue);
}


nav ul li a::after{
    content: "";
    position:absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 0.2em;
    border-radius:1rem;
    background-size: 0% 100%;
    background-color: var(--salmaBlue);
    transition: all 0.2s ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}
#About{
    height: 100vh;
    background-image: url(media/space.jpg);
    background-size: cover;

}
.upbtn{
    cursor: pointer;
    position: fixed;
    height:3rem;
    width: 3rem;
    bottom: 3rem;
    right: 3rem;
    background:none;
    border-radius:50%;
    border:none;
    transform:rotate(-90deg);
}
.upbtn a {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.subhero{
    padding: 2rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    width:100%;
    height: 80vh;
    justify-content: center;
    background-image: linear-gradient(90deg, rgba(21, 29, 34, 0.26)0%, rgba(209, 209, 209, 0.418) 100%);
    transition: all 0.5s ease-in-out;
}
.subherotext{
    flex:1.5;
    height: auto;
    width: 100%;
    text-align: left;
    font-weight: bold;
}
.subherotext h1{
    color: var(--salmaBlue);
    font-family: Nasa;
    font-size:40px;
}
.subherotext p{
    color: #fff;
    font-size:23px;

}
.subheromodel{
    position: relative;
    flex:1;
    height: 500px;
    width: 500px;
}
#salma{
    display: block;
    height: 450px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    animation-name: hover;
    animation-timing-function: smooth;
    animation-duration:4s;
    animation-delay: 0s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    background: transparent;
    border:transparent;
    

}
.planet{
    display:block;
    position:absolute;
    left:5rem;
    top:5rem;
    animation-name: hover;
    animation-timing-function: smooth;
    animation-duration:2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
.rocket{
    display: block;
    position:absolute;
    bottom:4rem;
    right:8rem;
    transform:rotate(35deg);
    animation-name: hover;
    animation-timing-function: smooth;
    animation-duration:5s;
    animation-delay: 0s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

}
.active{
    display: block;
    position:initial;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: auto;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.603)rgba(20, 66, 97, 0.589)507) 100%; 
    z-index: 100;
}
#Gallery{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0)0%, rgba(20, 66, 97, 0.507) 100%);
}
#Gallery h1{
    font-family: Nasa;
    font-size:40px;
    color: var(--salmaBlue);
    flex: 0.2;
}
.spaned{
    order: 1;
    grid-column: span 1;
}
.container{
    padding:0.5rem;
    flex: 1;
    width:100%;
    height: auto;
    position: relative;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 0.5rem;
    place-content: center;
}
.container img{
    cursor: pointer;
    display: block;
    width:100%;
    background-size: auto;
    height:100%;
    transform: scale(0.9); 
    transition: all 0.3s ease-in-out;
}
.container img:hover{
    transform: scale(0.94); 
}


@keyframes hover {
    0%{
        transform: translateY(-10px) rotate(2deg);
    }
    100%{
        transform: translateY(10px) rotate(-2deg);
    }
}


@media only screen and (max-width:500px) {
    nav ul{
        display: none;
    }
    #About{
        height:100vh;
    }
    .subherotext h1{
        font-size:20px;
    }
    .subhero{
        height: 100vh;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
    .subherotext p{
        font-size:10px;
    }
    .subherotext{
        order: 2;
        flex: 1;
    }
    .subheromodel{
        width: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        flex: 1.5;
        order: 1;
    }
    #salma{
        height: 350px;
        width: 350px;
    }
    .planet{
        height: 90px;
        width: 90px;
        left:0.7rem;
        top:7rem;
        
    }
    .rocket{
        height: 70px;
        width: 70px;
        bottom:5.5rem;
        right:2rem;
    }
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #Gallery{
       flex-direction: column;
       height:100%;
    }
    .modal-content {
        width: 100%;
      }

    
}